<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <h1>汽车销量预测系统注册</h1>
    <form action = "/usermanage/reg/" method = "post">
        <p>
            用户名<input type = "text" name = "uname">
        </p>
        <p>
            密码<input type = "password" name = "pward">
        </p>
        <p>
            再次输入密码<input type = "password" name = "vpward">
        </p>

        <button type = "submit">注册</button>
        <!--<input type = "submit" value = "test">-->
    </form>
    {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}')
                {% endfor %}

            </script>
        {% endif %}
</body>
</html>